*{
    font-size: 20px;
    font-weight: 600;
}

QWidget{
    background-color: #FFF;
    color: #000;
}

QPushButton{
    background-color: #401bc0;
    border: 0px;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}

QTextEdit{
    border-style: none;
    border-bottom: 10px solid #4586EE;
}